@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
  }

  body {
      background-color: var(--Light-gray);
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
  }

  .card-container{
    max-width: 320px;
    /* height: 375px;   */
    background-color: var(--White);
    border-radius: 1em;
    padding: .8em;
  }

  img {
    display: block;
    max-width: 100%;
    /* max-height: 100%; */
    border-radius: .5em;
    margin: auto;
  }

  .card-bottom {
    padding: 1em;
  }

  p {
    font-family: "Outfit";
    text-align: center;
  }

  .one {
      font-size: 22px;
      font-weight: 700;
      color: var(--Dark-blue);
      margin-bottom: .5em;
  }

  .two {
      font-size: 16px;
      font-weight: 400;
      color: var(--Grayish-blue);
  }
